<div class="item-list-wrapper">
<div class="item-list" onclick="location.href='';">
    <div style="float:left"><img src=" <%= imgurl %> "></div>
    <div style="float:left; width: auto">
        <div class="item-list-title"> 
            <%= name %>  
        </div>
        <div class="item-list-desc"> 
        </div>       
        <div class="item-list-title"> 
            <%= price %>zł
        </div> 
    </div>
</div>
</div>