<div style ="padding-left:4em; text-align: left;">
<a href="/c/<%= subcat_info.category_id  %> "><%= subcat_info.category_name %></a> \
<a href="/c/<%= subcat_info.id  %> "><%= subcat_info.name %></a>
<br>
</div>