<!DOCTYPE html>
<html lang="en">
<%- include('./template/head') %>
<body id="body">
<%- include('./template/topbar') %>

<div class ="contener">

  <% for(let product of products) { 
    product.mode = 1; %>
    <%- include('./components/wide-item', product) %>
<% } %>
  <div style="clear:both"></div>
</div>

</body>
</html>