<!DOCTYPE html>
<html lang="en">
<%- include('./template/head') %>
<body id="body">
<%- include('./template/topbar') %>

<div class ="contener">

  <% for( var i = 0; i < display.length; i++ ) { %> 
    <%- include('wide-item', {href: display[i].href, name: display[i].name, price: display[i].price, imgurl: display[i].imgurl, desc: display[i].desc, mode: 1}) %>
    <% } %>
  <div style="clear:both"></div>
</div>

</body>
</html>