<!DOCTYPE html>
<html lang="en">
<%- include('./template/head') %>

<body id="body">
  <%- include('./template/topbar') %>

  <div class="contener">
    <h1><%= error %></h1>
  </div>

</body>

</html>