<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body id="body" class="theme3">

<%- include('topbar') %>


  <div class="contener disp" id="textF">
  </div>
 
<div id="t1" style="display: none;">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur nulla quis sem feugiat rhoncus. Vestibulum condimentum porttitor ante, et venenatis metus bibendum ac. Aenean et lacus vulputate, venenatis felis id, hendrerit sem. Vestibulum tortor est, gravida sit amet lobortis et, pulvinar eget erat. Integer at odio ut purus ornare molestie at eget nisi. Donec convallis tellus velit, et scelerisque mauris pulvinar non. Aenean venenatis eget purus eget rhoncus. Pellentesque eu venenatis tellus. Curabitur in tortor eget urna aliquam suscipit convallis sed ante.
    <br><br>
    Donec nisl neque, tincidunt eu mauris sed, pharetra blandit turpis. Fusce bibendum nibh eros, quis mattis risus tempor non. Nullam vitae varius odio, et rutrum lectus. Donec scelerisque, erat vitae scelerisque mattis, orci magna eleifend eros, sodales dictum sapien augue quis nisl. Proin nec blandit nulla. Quisque cursus ligula velit, quis aliquam sapien fringilla ac. Sed malesuada, nibh non sodales mollis, risus tellus efficitur risus, et lobortis justo quam a ante. Suspendisse id lacinia eros. Duis cursus, sapien nec luctus molestie, libero metus bibendum orci, et ultrices lacus ante vitae eros.
    <br><br>
    Proin commodo cursus odio, at maximus augue congue a. Proin vel tempor purus. Donec dolor metus, ultricies at urna sed, venenatis vehicula lacus. Donec eu felis id purus volutpat tincidunt eu quis tellus. Cras eget sem tincidunt, mollis lectus id, tristique turpis. Vestibulum volutpat sem et lacus facilisis eleifend. Cras semper, eros at egestas interdum, felis felis pharetra ipsum, vel rutrum eros nisl et velit. Donec feugiat nisl posuere nunc dictum hendrerit. Maecenas a elementum ante, a tincidunt orci. Duis interdum, felis nec hendrerit consequat, arcu orci elementum ligula, sed tincidunt nunc ex sed dolor. Etiam metus risus, tempus pharetra velit et, congue vulputate libero. Pellentesque sollicitudin, turpis vel mattis molestie, erat est tincidunt magna, et dictum ex dolor nec neque. Donec dictum, mi quis faucibus sodales, eros lorem elementum diam, fermentum sodales odio augue ut eros.
    <br><br>
    Quisque in laoreet nulla. Donec mi mauris, accumsan at aliquam non, scelerisque ac enim. Ut et sodales neque. Phasellus et congue lacus, eu tincidunt ipsum. Proin iaculis leo nec vehicula iaculis. Donec lacinia ligula a lorem pellentesque dignissim. Nunc ultrices elementum nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis ante, congue eget vestibulum in, posuere ultrices metus. In porttitor magna sit amet ipsum blandit iaculis. Duis vel velit ut enim interdum aliquam.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur nulla quis sem feugiat rhoncus. Vestibulum condimentum porttitor ante, et venenatis metus bibendum ac. Aenean et lacus vulputate, venenatis felis id, hendrerit sem. Vestibulum tortor est, gravida sit amet lobortis et, pulvinar eget erat. Integer at odio ut purus ornare molestie at eget nisi. Donec convallis tellus velit, et scelerisque mauris pulvinar non. Aenean venenatis eget purus eget rhoncus. Pellentesque eu venenatis tellus. Curabitur in tortor eget urna aliquam suscipit convallis sed ante.
    <br><br>
    Donec nisl neque, tincidunt eu mauris sed, pharetra blandit turpis. Fusce bibendum nibh eros, quis mattis risus tempor non. Nullam vitae varius odio, et rutrum lectus. Donec scelerisque, erat vitae scelerisque mattis, orci magna eleifend eros, sodales dictum sapien augue quis nisl. Proin nec blandit nulla. Quisque cursus ligula velit, quis aliquam sapien fringilla ac. Sed malesuada, nibh non sodales mollis, risus tellus efficitur risus, et lobortis justo quam a ante. Suspendisse id lacinia eros. Duis cursus, sapien nec luctus molestie, libero metus bibendum orci, et ultrices lacus ante vitae eros.
    <br><br>
    Proin commodo cursus odio, at maximus augue congue a. Proin vel tempor purus. Donec dolor metus, ultricies at urna sed, venenatis vehicula lacus. Donec eu felis id purus volutpat tincidunt eu quis tellus. Cras eget sem tincidunt, mollis lectus id, tristique turpis. Vestibulum volutpat sem et lacus facilisis eleifend. Cras semper, eros at egestas interdum, felis felis pharetra ipsum, vel rutrum eros nisl et velit. Donec feugiat nisl posuere nunc dictum hendrerit. Maecenas a elementum ante, a tincidunt orci. Duis interdum, felis nec hendrerit consequat, arcu orci elementum ligula, sed tincidunt nunc ex sed dolor. Etiam metus risus, tempus pharetra velit et, congue vulputate libero. Pellentesque sollicitudin, turpis vel mattis molestie, erat est tincidunt magna, et dictum ex dolor nec neque. Donec dictum, mi quis faucibus sodales, eros lorem elementum diam, fermentum sodales odio augue ut eros.
    <br><br>
    Quisque in laoreet nulla. Donec mi mauris, accumsan at aliquam non, scelerisque ac enim. Ut et sodales neque. Phasellus et congue lacus, eu tincidunt ipsum. Proin iaculis leo nec vehicula iaculis. Donec lacinia ligula a lorem pellentesque dignissim. Nunc ultrices elementum nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis ante, congue eget vestibulum in, posuere ultrices metus. In porttitor magna sit amet ipsum blandit iaculis. Duis vel velit ut enim interdum aliquam.
    <br><br>
 </div>  

  <script>
    
    document.getElementById("textF").innerHTML = 
        document.getElementById("t1").innerHTML;
  </script>
</body>
</html>