<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body id="body">
<%- include('topbar') %>

<div class ="contener">

  <div class = "main-page-title">
    Polecamy:
  </div>


  <% for( var i = 0; i < display.length; i++ ) { %> 
    <%- include('item', {href: display[i].href, name: display[i].name, price: display[i].price, imgurl: display[i].imgurl, desc: display[i].desc}) %>
    <% if( i % 4 == 3) { %>
      <div style="clear:both"></div>
    <% } %>
    <% } %>
  <div style="clear:both"></div>
</div>

</body>
</html>