<div class="item-list">
    <div style="float:left"><img src=" <%= imgurl %> "></div>
    <div style="float:left; width: auto">
        <div class="item-list-title"> <%= name %> <br> <%= price %>zł </div> 
        <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>
</div>