<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
<div style ="padding: 20%; padding-top: 10em; padding-bottom: 0px; text-align: center;"> 
<h1> Zaloguj się do konta </h1><br>
Nie masz konta? <a href="/register">Zarejestruj się</a><br><br>
<form>
    Email: <input type ="text" style="width:40%;" name="_login"><br>
    Hasło: <input type="password" style="width:40%;"name="_password"><br><br>
    <submit>Zaloguj się</submit>
</form>


</div>
</body>
</html>