<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
<div class="contener"> 
<h1> Zaloguj się do konta </h1><br>

<a href="/">Powrór na stronę główną</a><br>
Nie masz konta? <a href="/register">Zarejestruj się</a><br><br>

<%- message %>

<form method="post" action="/login">

    <input type="hidden" name="returnUrl" value=" <%- returnUrl %>">

    Try accessing <a href="/restricted">/restricted</a>, then authenticate with "tj" and "foobar".<br>
    <div class="column">
        Email:<br>
        Hasło:<br>
    </div>
    <div class="column" style="width:70%">
        <input type ="text" style="width:100%" name="login"><br>
        <input type="password" style="width:100%"name="password"><br><br>
    </div>
    <div style="clear:both"></div>
    <input type="submit" value="Zaloguj się">
</form>


</div>
</body>
</html>