<!DOCTYPE html>
<html lang="en">
<%- include('./template/head') %>
<body id="body">
<%- include('./template/topbar') %>

<div class ="contener">
  Zamówienie złożone
</div>
</body>
<script src="/scripts/basket.js"></script>
</html>