<!-- Po co komplikować, jeśli będzie potrzeba to się zmodyfikuje -->
<%- include('order') %>
<!-- <!DOCTYPE html>
<html lang="en">
<%- include('./template/head') %>
<body id="body">
<%- include('./template/topbar') %>

<div class ="contener">
  <%= JSON.stringify(order) %> 

</div>

</body>
</html>-->