<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
<div class="contener" >
<h1> Rejestracja nowego użytkownika </h1><br>

Masz konto? <a href="/login">Zaloguj się</a>

<%- message %>
<br>

<form method="post" action="/register">

    <div class="column">
        Email: <br>
        Hasło: <br>
        Powtórz hasło: <br>
    </div>
    <div class="column" style="width: 70%">
        <input type ="text" style="width:100%;" name="login" id ="email" onkeyup="validateMail()"><br>
        <input type="password" style="width:100%;"name="password" id="pass1"><br>
         <input type="password" style="width:100%;"name="password2" id="pass2"><br>
    </div>
    <div style="clear:both"></div>
    <input type="submit" value="zarejestruj się">
</form>


<script>
    function validateMail() { return true; }

    //TODO

    function validatePassword1() {
        var str = document.getElementById('pass1');
        let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
    }


</script>

</div>
</body>
</html>