
<div class="navigation" id = "header"> 
<div style="float: left; width: 14%; text-align: left;">Y-kom</div>
<div style="width: 72%; text-align: center; float: left;">
    <form method="get">
        <input type="text" name="_search" placeholder="Czego szukasz?">
        <submit> Szukaj </submit>
    </form>
    <!--
    <ol>
    <li>
        <a class="btn" id="button1">Strona 1</a>
    </li>
    <li>
        <a class="btn" id="button2">Strona 2</a>
    </li>
    <li>
        <a class="btn" id="button3">Galeria</a>
    </li>
    <li>
        <a class="btn" id="button4">Różności</a>
    </li>
    </ol>--> 
</div>
<div style="float: left; width: 14%; text-align: left;">
    <div style="float: left; width:50%; text-align: center;"><form method="get"><input type="hidden"><submit>Koszyk</submit></form></div>
    <div style="float: left; width:50%; text-align: center;"><form method="get"><input type="hidden"><submit>Konto</submit></form></div>
</div>
</div>
</div>