<script src="/scripts/script.js"></script>
<div class="navigation" id="header">
    <div style="float: left; width: 14%; text-align: left;">Y-kom</div>
    <div style="width: 72%; text-align: center; float: left;">
        <form method="get">
            <input type="text" name="_search" placeholder="Czego szukasz?">
            <submit> Szukaj </submit>
        </form>
    </div>
    <div style="float: left; width: 14%; text-align: left;">
        <div style="float: left; width:50%; text-align: center;" class="links2">
            <a href="/" class="richbutton">Koszyk</a>
        </div>
        <div style="float: left; width:50%; text-align: center;" class="links2 dropdown">
            <a href="/account" class="richbutton">Konto</a>
            <% if( role != "" ) { %>
                <div class="dropdown-content">
                    Zalogowano jako: <%= name %> <%= surname %> <br><br>

                    <% if( roles != [] ) { %>
                        Obecna rola: <%= role %> <br>

                        Zmień rolę:<br>

                        <% for ( i in roles ) { %>
                            <form>
                                <input type="submit" value=" <%= roles[i] %>">
                            </form>
                        <% } %>
                    <% } %>
                </div>
            <% } %> 
            <!-- Tutaj powinna być lista rozwijana pokazująca opcje konta i to w zależności od wybranej roli no i jeszcze trzeba gdzieś tu zrobić możliwość wybranej roli( jeśli ma więcej niż jedną) czyli tutaj generowane to musi być automatycznie -->
        </div>
    </div>

    <br>

    <div id="links">
        <ol>
            <li>
                <a class="btn" id="button1">Komputery i laptopy</a>
            </li>
            <li>
                <a class="btn" id="button2">Podzespoły</a>
            </li>
            <li>
                <a class="btn" id="button3">Telefony</a>
            </li>
            <li>
                <a class="btn" id="button4">Peryferia</a>
            </li>
        </ol>
    </div>
</div>