 <% if(user_role === role.Admin) { %>

    <div class="richbutton">
        <a href="/account/admin">Panel administracyjny</a>
    </div>

<% } else if(user_role === role.Seller) { %> 
    
    Zamówienia SELERA
    HELP

<% } else if(user_role === role.Customer) { %> 
    
    <div class="richbutton">
        <a href="/basket">Zobacz swój koszyk</a><br>
    </div>

    

    <% if( orders ) { %>
        Aktywne zamówienia:<br>

        <% for( i in orders ) { %>
        
        <div class="prodcontener" style="width:auto" onclick="alert('Przeniesienie do strony zamówienia.')"> 
            <div class="nodecor" style="text-align: left"> Data złożenia: </div>
            <div class="nodecor" style="text-align: right;"><%- orders[i].date %></div>
            <div class="nodecor" style="text-align: left;">Cena: </div>
            <div class="nodecor" style="text-align: right;"><%- orders[i].price %>zł</div>
        </div>
    <% }} %>

    <div class="richbutton">
        <a href="">Historia zamówień</a>
    </div>
<% } %> 
<br>

<% if( number_of_roles > 1) { %>
    Obecna rola: <% if(user_role === role.Customer) { %> Zakupowicz <% } else if(user_role === role.Seller) { %> Sprzedawca <% } else { %> Admin <% } %> <br>
    <div class="richbutton">
        <a href="/role">Zmień rolę</a>
    </div>
<% } %>



<div class="richbutton">
    <a href="/logout">Wyloguj się</a>
</div>