:root {
    --bg:       rgb(226, 226, 226);
    --bg0_h:    rgb(245, 245, 245);
    --bg0:      rgb(238, 238, 238);
    --bg1:      rgb(218, 216, 216);
    --bg2:      #504945;
    --bg3:      #665c54;
    --bg4:      #7c6f64;
    --bg0_s:    #32302f;
    --fg:       rgb(39, 39, 39);
    --fg0:      #222222;
    --fg1:      #333333;
    --fg2:      #535353;
    --fg3:      #dbae93;
    --fg4:      #c7c7c7;

    --gray:     #a89984;
    --gray2:    #928374;
    --red:      #cc241d;
    --red2:     #fb4934;
    --green:    #98971a;
    --green2:   #b8bb26;
    --yellow:   #d79921;
    --yellow2:  #fabd2f;
    --blue:     #00cdd8;
    --blue2:    #00b4b4;
    --purple:   #b16286;
    --purple2:  #d3969b;
    --aqua:     #689d6a;
    --aqua2:    #8ec07c;
    --orange:   #d65d0e;
    --orange2:  #fe8019;


}

.theme1 {
    --accent: var(--orange);
    --accent2: var(--orange2);
}

.theme2 {
    --accent: var(--yellow);
    --accent2: var(--yellow2);
}

.theme3 {
    --accent: var(--blue);
    --accent2: var(--blue2);
}

.theme4 {
    --accent: var(--green);
    --accent2: var(--green2);
}

body {
    color: var(--fg);
    background-color: var(--bg0_h);
    /*background-image: url("bg.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
    font-size: 1.4em;
    text-align: justify;
    margin: 0;
}

.navigation {
    font-size: 1.2em;
    height: 2.3em; 
    background-color: var(--bg0);
    color: var(--fg);
    padding-left: 5%; 
    padding-right: 5%; 
    text-align: right; 
    line-height: 2.3em;
    transition:all .2s ease-in-out;

    z-index: 100;
}

#header.sticky{
    position:sticky;
    line-height: 2.2em;
    height: 2.2em;
    top:0;
    padding-left: 7%;
    padding-right: 7%;
    color: var(--fg);
    background-color: var(--bg0_h);

    font-size: 1em;

    /*border:0;*/
}
#links {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.2s ease-in-out;
    line-height: 1.5em;
    font-size: 0.7em;
}

#links.sticky {
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

.nav-cell {
    width: 25%;
    float: left;
    transition: all .2s ease;
}

.nav-cell:hover {
    background-color: var(--fg);
    color: var(--bg);
    transition: all .2s ease;
}

.nav-dropdown-item {
    display: none;
    position: absolute;
    background-color:none var(--bg);
    width: 13.5%;
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
}

.sticky > .nav-dropdown-item {
    width: 12.9%;
}

.nav-cell:hover .nav-dropdown-item {
    display:block;
}

.separator {
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 40px;
}

.contener {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 60%;

    background-color: var(--bg0);

    /*border: 3px solid var(--accent2);*/

    border-radius:3em;
    -moz-border-radius:3em;
    -webkit-border-radius:3em;

    transition: visibility 0s, opacity 0.5s linear;
}

ol {
    text-align: center;
    width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
}

ol a {
    
	color: var(--fg);
	text-decoration: none;
	display: block;
    cursor: pointer;
}

ol > li {
	float: left;
    width: 25%;
}


ol > li:hover {
	background-color: var(--bg0);
}

ol > li:hover > a {
	color: var(--fg1);
}

img {
    border-left: 3px solid /*var(--accent)*/ black;
    white-space: pre-wrap;    
    width: 250px;
    font-style: italic;
    text-align: left;
}

.cent {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    color:car(--accent);
}

a {
    color: teal;
    text-decoration: none;
    cursor: pointer;
}

/* visited link */
a:visited {
    color: var(--red);
}

/* mouse over link */
a:hover {
    color: var(--fg2);
}

/* selected link */
a:active {
    color: var(--fg3);
}

input[type=text],
input[type=password] {
	width: 80%;
	border: 2px solid var(--bg);
	border-radius: 5px;
	font-size: 0.8em;
	padding: 2px;
	box-sizing: border-box;
	outline: none;
	margin-top: 1px;
    background-color: var(--bg1);
    color:var(--fg1)
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px var(--bg1);
	-moz-box-shadow: 0px 0px 10px 2px var(--bg1);
	box-shadow: 0px 0px 10px 2px var(--bg1);
	border: 2px solid var(--accent2);
	background-color: var(--bg0);
    color: var(--fg);
}

button, submit, input[type=submit] {
	width: auto;
	background-color: var(--bg0);
	font-size:0.8em;
	color: var(--fg0);
	padding: 2px;
	margin-top: 2px;
	border: 2px solid var(--fg4);
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
button:focus, submit:focus, input[type=submit]:focus {
	-webkit-box-shadow: 0px 0px 15px 5px var(--bg1);
	-moz-box-shadow: 0px 0px 15px 5px var(--bg1);
	box-shadow: 0px 0px 15px 5px var(--bg1);
}

button:hover, submit:hover, input[type=submit]:hover {
	border: 2px solid var(--fg0);
}

input::-webkit-input-placeholder {
    color: var(--fg);
}
input:focus::-webkit-input-placeholder{
    color: var(--fg);
}
.item-list {
    width: 90%;
    margin: auto;
    border-radius: 1em;
    background-color: var(--bg1);
    padding-left: 1em ;
    padding-right: 1em ;
    padding-top: 5px;
}

.item-list-title {
    text-align: left;
    width: 50%;
    padding-left: 30px;
    line-height: 2em;
    font-size: 1.6em;

}