<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>
<link href="/stylesheets/register.css" rel="stylesheet" />
<body>
<div class="contener">
    <h1> Rejestracja nowego użytkownika </h1><br>

    <a href="/">Powrót na stronę główną</a><br>
    Masz konto? <a href="<%= (returnUrl != '/') ? `/login?returnUrl=${returnUrl}`: '/login'%>">Zaloguj się</a><br><br>


    <% if(error[0] != '0' && error != ''){ %>
        <div class="info">
        <% if(error[0] == '5' ) { %>
            Podane hasło jest za słabe.
        <% }else if(error[0] == '2' ) { %>
             Podane hasło jest za słabe.
        <% } else { %>
            Wystąpił problem z rejestracją. <br> 
            Jeśli problem będzie się powtarzać, zalecamy skontaktowanie się z Obsługą Klienta.
        <% } %>
        </div>
    <% } %>

    <form method="post" id="register-form" onsubmit="return validateSubmit();">

        <div class="input-group" id="info1">
            <label for="login">Email*</label>
            <input type="text" name="login" id="email" onkeyup="validateMail()">
            <div class="error-message">Podaj poprawny adres email</div>
        </div>
        
        <div class="input-group" id="info2">
            <label for="password">Hasło*</label>
            <input type="password" name="password" id="pass1" onkeyup="validatePassword1()">
            <div class="error-message">Hasło musi zawierać conajmniej 8 znaków, w tym dużą i małą literę oraz cyfrę.</div>
        </div>
        <div class="input-group" id="info3">
            <label for="password2">Powtórz hasło*</label>
            <input type="password" name="password2" id="pass2" onkeyup="validatePassword2()">
            <div class="error-message">Podane hasła nie są identyczne.</div>
        </div>
        <div class="input-group" id="info4">
            <label for="firstname">Imię*</label>
            <input type="text" name="firstname" onkeyup="validateEmpty('info4')">
        </div>
        <div class="input-group" id="info5">
            <label for="firstname">Nazwisko*</label>
            <input type="text" name="lastname" onkeyup="validateEmpty('info5')">
        </div>
        <div class="input-group" id="info6">
            <label for="phone">Telefon*</label>
            <input type="tel" name="phone" id="phone" onkeyup="validatePhone()">
            <div class="error-message">Podaj poprawny numer telefonu.</div>
        </div>
        <div class="input-group">
            <input type="submit" value="Zarejestruj się">
        </div>
    </form>
</div>
<script src="scripts/register.js"></script>
</body>
</html>
