<div class="filter-bar">
    <form>
        Filtry <br><br>

        Cena:<br>
        Od: <input type="number">
        Do: <input type="number">

        <i>Tu będzie tego więcej</i>
        <% for(filter of filters) { %>
            <%= filter.name %> <br>

            <% if( filter.type == "enum") { %>
                <% for( opt of filter.options ) { %>
                    <%= opt.name %><br>
                <% } %>
            <% } %>
        <% } %>   
        
        <!--
            {"id":1,
            "name":"dysk",
            "type":"enum",
            "options":[
            {"name":"100","sort_order":"1"},
            {"name":"200","sort_order":"2"}]} 
            {"id":2,
            "name":"koła","
            type":"enum",
            "options":[
            {"name":"100","sort_order":"1"},
            {"name":"200","sort_order":"2"}]}
        -->

        <!-- Wysyłane getem  jeśli filter jest enumem to ile wybranych wartości tyle razy go dodajesz, jeśli typu numerycznego to do nazwy doklejasz -min -max np. dla price  price-min=10&price-max=100-->


        <br><br><input type="submit" value = "Filtruj">
    </form>
  </div>