
<div style="width:100%; background-color: var(--bg1); text-align: center;">
    <div style ="text-align: left; width: 70%; margin-left: auto; margin-right: auto; padding-top: 3em; padding-bottom: 3em;">
        <div class="column" style="width:40%;">
            Y-kom spółka z.o.o.<br>
            Dane Kontaktowe:<br>
            Nr. tel.: 123 456 789<br>
            Adres: Wrocław, ul. Julio-Curie 15<br>
        </div>
        <div class="column">
            Zapraszamy na nasze media społecznościowe:<br>
            <!-- Zakochałem się w Porcupine Tree -->
            <a href="https://www.youtube.com/watch?v=4Ine6gjxg48">Facebook</a><br>
            <a href="https://www.youtube.com/watch?v=MSEQZ8reJA4">Twitter</a><br>

        </div>
        <div style="clear:both"></div>

    </div>

</div>