<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>
<body id="body">
<%- include('../template/topbar') %>

<div class ="contener">
    <%- include('filters') %> 

    <% for(let product of products) { 
        product.mode = 0; %>
        <%- include('../components/wide-item', product) %>
    <% } %>
  <div style="clear:both"></div>
</div>
<div id="alert" class="alertBox"></div>

</body>
<script src="/scripts/category.js"></script>
</html>